MQTT_HOST=localhost
MQTT_PORT=1883

MSSQL_CONN_STR=Driver={ODBC Driver 18 for SQL Server};Server=localhost;Database=mqtt_sql;Trusted_Connection=yes;Encrypt=no

HTTP_HOST=0.0.0.0
HTTP_PORT=8000

LOG_LEVEL=INFO
